@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.rectangleDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 55px;
  background-color: var(--color-white);
  width: 50vw;
  height: 70vh;
}

.inscrivezVotreCentreSportif {
  position: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.logoPetit1Icon {
  position: flex;
  justify-content: center;
  width: 15%;
  height: auto;
  object-fit: cover;
}

.mailSCInput {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 45%;
  left: 10%;
}

.passwordSCInput {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 55%;
  left: 10%;
}
.signupButtonCancel {
  position : absolute;
  top: 70%;
  right: 30%;
}

.signupButtonConnexion {
  position: absolute;
  top: 70%;
  left: 30%;
}

.signupSCDiv {
  position: relative;
  background-color: var(--color-violet);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  text-align: center;
  font-size: 25px;
  color: var(--color-violet);
  font-family: var(--font-solway);
}

.signupSCDiv.animate {
  animation: 0.25s ease 0s 1 normal forwards slide-in-top;
}

/* Mobile version*/
@media only screen and (max-width:700px) {
  .rectangleDiv {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    border-radius: 55px;
    background-color: var(--color-white);
    width: 60vw;
    height: 80vh;
  }
  .inscrivezVotreCentreSportif {
    position: absolute;
    top: 5%;
    left: 2%;
    width: 100%;
    font-size: smaller;
    height: auto;
    text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }
  .mailSCInput {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 15%;
    left: 10%;
  }
  .passwordSCInput {
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 23%;
    left: 10%;
  }
  .signupButtonConnexion {
    border: 0;
    position: absolute;
    top: 30%;
    left: 20%;
  }
  .signupButtonCancel {
    border: 0;
    position: absolute;
    left: 20%;
    top: 37%;
  }

  .SCInputMobile{
    position: absolute;
  }
}